

body {
	border: solid red;
}

/* container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
} */

.container {
	width: 80%;
	height:auto;
	background-color: blue;
	/* text-align: center;*/
	margin:auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

img {
	width: 40%;
	height: auto;
}