$hgcolor: lightgrey;
$background-color: lightblue;
$font-color: white;


figure {
	text-align:center;
}

figcaption {
	padding-top: 1%;
	text-align:center;
}

#small {
	visibility:hidden;
	color: $font-color;
}

#big {
	visibility:hidden;
	color: $font-color;
}

.container {
	width: 80%;
	height:auto;
	background-color: lightgrey;
	margin:auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

img {
	width: 40%;
	height: auto;
	box-shadow: 10px 10px 5px white;
}


@media screen and (max-width: 480px) {
   body {
       background-color: lightgreen;
   }
}
@media screen and (min-width: 481px) and (max-width: 1200px) {
   body {
       background-color: $background-color;
   }
   #small {
   	visibility:visible;
   }
}
@media screen and (min-width:1201px) {
   #big{
   	visibility: visible;
   }
   .container{
   	background-color: $background-color;
   }
   body {
   	background-color: $hgcolor;
   }
}